*{
	margin: 0;
	padding: 0;
}

.wrapper{
	width:  1170px;
	margin: auto;
}

header{
       /*linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)) url("homepage_image"); /*TODO*/ 
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}

body{
	background-image: linear-gradient(to bottom right, blue, red);
	background-attachment: fixed;
}


.Header{
position: absolute;
	width: 600px;
	height: 300px;
	margin: 20% 30%;
	text-align: center;
}

.Header h1{

text-align: center;
	color: #fff;

	font-size: 60px;

}
.Header h3{
	text-decoration: none;
	line-height: 2;
	margin: 30% 35%;
	font-size: 25px;
	color: #fff;
}
.Header p{
	text-decoration: none;
	line-height: 2;
	font-size: 18px;
	color: #fff;
}

.Header ol{
	text-decoration: none;
	line-height: 3;
	font-size: 20px;
	color: #fff;
}

.Header a{
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	line-height: 2;
	margin: 30% 35%;
	font-size: 25px;
	color: #fff;
}

.Header h4{
	padding: 10px 25px;
	text-decoration: none;
	line-height: 2;
	margin: 20% 30%;
	font-size: 25px;
	color: #fff;
}