body {font-family: Arial, Helvetica, sans-serif;  background: #212429;}


img.profile{
  position: fixed;
  top: 0px;
  right: 10px;
  background-color: transparent;
  width: 10vh;
  height:10vh;
}
/* The Modal (background) */
.Settings-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.Settings-modal-content {
  background-color: #2d3138;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

/* The Close Button */
.Settings-modal-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.Settings-modal-close:hover,
.Settings-modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}



.Post-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.Post-modal-content {
  background-color: #2d3138;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

/* The Close Button */
.Post-modal-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.Post-modal-close:hover,
.Post-modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}




#UserModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

#UserModalContent{
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}


/*added by ryan below*/
body {
	text-align: center;
	background: #212429;
}
header {
	background: linear-gradient(to bottom right, blue, red);/*SPYKE text color*/
	color: white; 
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 10vh;
	font-size: 8vh;
	border-bottom: 2px solid black;
}
a.home-page {
  text-decoration: none;
  color: white;
}
main {
	background: #212429;
	width: calc(100vw - 215px);
	margin-top: 12vh;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 20vw;
	padding: 0px;
	border: 0px;
	color:white;
}
article {
	background: #2d3138;
	border: 2px solid black;
	margin: auto;
	border-radius: 10px;
	padding: 10px;
	margin-top: 2px;
	margin-bottom:2px;
}
aside {
	background: #212429;
	position: fixed;
	right: 0px;
	bottom: 0px;
	width: 180px;
	height: 90vh;
	border-left: 2px solid black;
}
#friends-title {
	background: linear-gradient(to bottom right, blue, red);/*SPYKE text color*/
	color: white;
}
#friends-content {
	text-align: left;
}
#pending-title {
	background: linear-gradient(to bottom right, blue, red);/*SPYKE text color*/
	color: white;
}
#pending-content {
	text-align: left;
}
ul{
	padding: 0px;
	list-style-type:none;
}
li{
	margin-bottom: 7px;
}

aside button {
  float: right;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  overflow: hidden;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  background-color :  #FFFFFF;
   color:  #343a40;
  border:2px solid #343a40;
  
}

button:hover{
  color:#FFFFFF;
  background-color:#343a40;
  border:2px solid #FFFFFF;
  border-radius: 5px;
}

img.settings{
	height: 100%;
	width: 100%;
  top:0;
  padding: 0;
}

#Settings-myBtn{
  float: left;
  background-color: transparent;
	height: 10vh;
	width: 10vh;
	border: transparent;
}